:root {
    --bg-types: #000;
}

.body { width: 100% }

.bg-pokemons-cards {
    background-color: rgba(250, 250, 250, 0.8);
    margin: 25px;
    border-radius: 1.5%;
}

.cols {
    display: flex;
    justify-content: center;
}

.poke_card { width: 75% }
.poke_card:hover { cursor: pointer }

.poke_card .image {
    display: flex;
    justify-content: center;
}

.poke_card .information {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #000;
}

.poke_card .information .id {
    font-weight: bold;
    font-size: 0.8em;
}

.poke_card .information .name {
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: 10px;
}

.poke_card .information .types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.poke_card .information .types .type-cont {
    display: inline-block;
    width: 35%;
    margin: 0 10px;
    text-align: center;

    background-color: var(--bg-types);
    color: #fff;
    font-weight: bold;
    border-radius: 6px;

    text-shadow: 1.5px 1.5px 1.5px #000000;
}
